.main{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
    padding: 30px;
    border-radius: 16px;

    .imgPerson{
        border-radius: 100%;
    }

    button{
        border: none;
        background-color: var(--azul);
        padding: 15px;
        border-radius: 10px;
        color: var(--branco);
        margin-bottom: 30px;
    }

    .tabela{
        height: 100%;
        border: 1px solid var(--cinza2);
        border-radius: 8px;
        padding: 30px;

        .tabelaheader{
            display: flex;
            align-items: center;
            padding: 0px 0px 20px 0px;
            border-bottom: 1px solid var(--cinza2) ;
            .rowNome{
                width: 50%;
                display: flex;
                align-items: center;
                gap: 15px;
            }
            .rowTipo{
                min-width: 150px;
            }
            .rowAtivo{
                min-width: 150px;
            }
            .rowbtn{
                min-width: 150px;
            }
        }

        .tabelarow{
            display: flex;
            align-items: center;
            padding: 20px 0px;
            border-bottom: 1px solid var(--cinza2) ;
            .rowNome{
                width: 50%;
                display: flex;
                align-items: center;
                gap: 15px;
            }
            .rowTipo{
                min-width: 150px;
            }
            .rowAtivo{
                min-width: 150px;
            }
            .rowbtn{
                min-width: 150px;
                display: flex;
                gap: 15px;
            }

            &:last-child{
                border: none;
            }
        }
        
    }

}